<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Evara - eCommerce HTML Template</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/user/assets/imgs/theme/favicon.svg"
    />
    <!-- Template CSS -->
    <link rel="stylesheet" href="/user/assets/css/main.css?v=3.4" />
    <style>
      .otp-container {
        display: flex !important;
        justify-content: center !important;
        gap: 10px !important;
        margin-bottom: 20px !important;
      }
      .otp-input {
        width: 40px !important;
        height: 40px !important;
        font-size: 24px !important;
        color: #6f6f6f !important;
        /* text-align: center !important; */
      }
    </style>
  </head>

  <body>
    <section class="pt-150 pb-150">        
      <div class="container">
        <div class="row">
          <div class="col-lg-10 m-auto">
            <div class="row">
              <div class="col-lg-5">
                <div
                  class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5"
                >
                  <div class="padding_eight_all bg-white">
                    <div class="heading_s1">
                      <h3 class="mb-30">Verify OTP</h3>
                    </div>
                    <form method="post" id="verify-otp-form" onsubmit="validateAndSubmit(event)">
                      <div class="form-group">
                          <% if(typeof message != 'undefined') {%>
                              <p class="text-danger" id="error-message"><%= message %></p>
                          <% } %>
                          <div class="otp-container">
                            <input type="text" id="otp-1" name="otp-1" maxlength="1" class="otp-input" autofocus>
                            <input type="text" id="otp-2" name="otp-2" maxlength="1" class="otp-input">
                            <input type="text" id="otp-3" name="otp-3" maxlength="1" class="otp-input">
                            <input type="text" id="otp-4" name="otp-4" maxlength="1" class="otp-input">
                          </div>
                      </div>
                      <div id="error-otp" class="text-danger"></div>
                      <div class="form-group d-flex justify-content-center">
                          <button type="submit" class="btn btn-fill-out btn-block hover-up" name="login" id="verify-otp">Verify</button>
                          <div class="pl-10 pt-20 pb-10">
                              <a href="" id="resend" class="disabled text-success">Resend OTP</a>
                              <span id="timer"></span>
                          </div>
                      </div>
                  </form>
                  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <script src="/user/assets/js/vendor/modernizr-3.6.0.min.js"></script>
      <script src="/user/assets/js/vendor/jquery-3.6.0.min.js"></script>
      <script src="/user/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
      <script src="/user/assets/js/vendor/bootstrap.bundle.min.js"></script>
      <script src="/user/assets/js/plugins/slick.js"></script>
      <script src="/user/assets/js/plugins/jquery.syotimer.min.js"></script>
      <script src="/user/assets/js/plugins/wow.js"></script>
      <script src="/user/assets/js/plugins/jquery-ui.js"></script>
      <script src="/user/assets/js/plugins/perfect-scrollbar.js"></script>
      <script src="/user/assets/js/plugins/magnific-popup.js"></script>
      <script src="/user/assets/js/plugins/select2.min.js"></script>
      <script src="/user/assets/js/plugins/waypoints.js"></script>
      <script src="/user/assets/js/plugins/counterup.js"></script>
      <script src="/user/assets/js/plugins/jquery.countdown.min.js"></script>
      <script src="/user/assets/js/plugins/images-loaded.js"></script>
      <script src="/user/assets/js/plugins/isotope.js"></script>
      <script src="/user/assets/js/plugins/scrollup.js"></script>
      <script src="/user/assets/js/plugins/jquery.vticker-min.js"></script>
      <script src="/user/assets/js/plugins/jquery.theia.sticky.js"></script>
      <!-- Template  JS -->
      <script src="/user/assets/js/main.js?v=3.4"></script>
      
      <script>
        document.addEventListener('DOMContentLoaded', (event) => {
          const inputs = document.querySelectorAll('.otp-input');
          
          inputs.forEach((input, index) => {
            input.addEventListener('input', (e) => {
              if (e.target.value.length >= 1 && index < inputs.length - 1) {
                inputs[index + 1].focus();
              }
            });
            
            input.addEventListener('keydown', (e) => {
              if (e.key === 'Backspace' && index > 0 && !e.target.value) {
                inputs[index - 1].focus();
              }
            });
          });
        });

        function validateAndSubmit(event) {
          event.preventDefault();
          var otpInputs = document.querySelectorAll('.otp-input');
          var otpError = document.getElementById('error-otp');
          var otp = '';

          otpInputs.forEach(input => {
            otp += input.value;
          });

          if (otp.trim().length !== 4) {
              otpError.innerHTML = "OTP must be exactly 4 characters long";
              return;
          } else if (isNaN(otp)) {
              otpError.innerHTML = "OTP must be a number";
              return;
          } else {
              otpError.innerHTML = "";
          }

          if (!otpError.innerHTML) {
              document.getElementById('verify-otp-form').submit();
          }
        }

        let resendLink = document.getElementById('resend');

        function startTimer() {
          let isNewSignup = localStorage.getItem('isNewSignup');
          let seconds = (isNewSignup === 'true' || isNewSignup === null) ? 60 : getRemainingSeconds() || 60;
          const timerElement = document.getElementById('timer');

          if (isNewSignup === 'true' || isNewSignup === null) {
            clearRemainingSeconds();
            localStorage.setItem('isNewSignup', 'false');  // Clear the flag after first use
          }

          resendLink.style.display = 'none';

          const timerInterval = setInterval(() => {
            seconds--;

            if (seconds >= 0) {
              timerElement.textContent = `Resend OTP in ${seconds} seconds`;
              setRemainingSeconds(seconds);
            } else {
              clearInterval(timerInterval);
              timerElement.textContent = '';
              resendLink.style.display = 'block';
              clearRemainingSeconds();
            }
          }, 1000);
        }

        function getRemainingSeconds() {
          return parseInt(localStorage.getItem('remainingSeconds'), 10);
        }

        function setRemainingSeconds(seconds) {
          localStorage.setItem('remainingSeconds', seconds);
        }

        function clearRemainingSeconds() {
          localStorage.removeItem('remainingSeconds');
        }

        function resendOTP() {
          clearError();
          fetch('/resend-otp', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
          })
          .then(response => {
            if (response.ok) {
              console.log('Resend request processed successfully');
              startTimer();
            } else {
              console.error('Failed to process resend request:', response.statusText);
            }
          })
          .catch(error => {
            console.error('Error processing resend request:', error.message);
          });
        }

        resendLink.addEventListener('click', function(event) {
          event.preventDefault();
          resendOTP();
        });

        function clearError() {

          const errorElement = document.getElementById('error-message');
          if (errorElement) {
            errorElement.textContent = "";
          }
        }

        startTimer();
      </script> 
    </body>
  </html>
